#b1 {
	font-size: 13px;
	width: 98%;
	font-weight: bold;
	line-height: 16px;
	position: absolute;
	left: 20px;
	bottom: 20px;
	right: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}

#b2 {
	font-size: 15px;
	width: 98%;
	font-weight: bold;
	position: absolute;
	left: 20px;
	bottom: 10%;
	background-color: rgba(255, 255, 255, 0.3);
}

/*
iOS用に一番最初に表示する画面のcss
center_uiはもともと中央揃えのコードを実装する予定だったが
何故かiOSだと上手く動作しなかったためpermission_uiで中央揃えを
行っている
*/
.permission_ui {
	width: 100vw;
	height: 100vh;

	background-color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.center_ui {
  font-size: 20px;
}


/*
消したい奴にこれを追加すると消える
*/
.deleted_ui {
	display: none;
}